alembic
beautifulsoup4
boto3
elastic-transport
elasticsearch-dsl>7.0.0
elasticsearch==7.16.3
flasgger
flask
flask-cors
gensim
lxml
numpy
pandas
pika
pillow
psycopg2-binary
python-levenshtein==0.20.4
pycountry
pyjwt[crypto]
pymarc
pyyaml
redis
requests
requests_oauthlib
smartsheet-python-sdk
sklearn
sqlalchemy
waitress
newrelic
