alembic
beautifulsoup4
boto3
elasticsearch-dsl>7.0.0
elasticsearch==7.16.3
fasttext
flasgger
flask
flask-cors
lxml
numpy
pandas
pika
pillow
psycopg2-binary
python-levenshtein
pycountry
pyjwt[crypto]
pymarc
pyyaml
redis
requests
requests_oauthlib
smartsheet-python-sdk
sklearn
sqlalchemy
waitress