.loading {
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  left: 0;
  .loading-place {
    position: absolute;
    width: 175px;
    height: 210px;
    background: white;
    top: 50%;
    left: 50%;
    margin: 100px 0 0 -100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    &.usa-alert {
      padding: 1rem;
      .usa-alert__body {
        padding: 1rem;
      }
    }
    .label {
      position: absolute;
      bottom: 15px;
      width: 100%;
    }
    .loading-front {
      position: absolute;
      width: 99px;
      height: 118px;
      top: 20px;
      left: 40px;
      overflow: hidden;
      svg {
        fill: #0071ce;
      }
    }
    .curtain {
      position: absolute;
      top: 20px;
      left: 40px;
      overflow: hidden;
      -moz-transition: 0.3s linear;
      -webkit-transition: 0.3s linear;
      transition: 0.3s linear;
      animation-name: curtain;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      width: 99px;
      height: 1118px;
      background-color: white;
    }
    .loading-back {
      background-color: white;
      overflow: hidden;
      width: 99px;
      height: 118px;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  background-color: white;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

@keyframes curtain {
  0% {
    height: 118px;
  }
  100% {
    height: 0;
  }
}
